.camel{
    border: 2px solid rgb(247, 30, 30);
    border-radius: 50px;
    float: left;
}

.chameleon{
    border: 2px solid rgb(247, 30, 30);
    border-radius: 50px;
    float: left;
}

.piegon{
    border: 2px solid rgb(247, 30, 30);
    border-radius: 50px;
    float: left;
}

.Tb{
    border: 2px solid rgb(247, 30, 30);
    border-radius: 50px;
    float: left;
}

.fc{
    border: 2px solid rgb(247, 30, 30);
    border-radius: 50px;
    float: left;
}

.panda{
    border: 2px solid rgb(247, 30, 30);
    border-radius: 50px;
    float: left;
}

